<html>
  <head>
    <title>Unhook Quick Options</title>
    <link rel="stylesheet" type="text/css" href="popup.css" />
  </head>
  <body>
    <div id="app">
      <p>{{ currentUrl }}</p>

      <span v-if="isBlocked">This website is blocked</span>

      <button v-on:click="toggleUrlBlocking">
        <span v-if="isBlocked">Unblock</span> <span v-else>Block</span>
      </button>
    </div>
    <script type="text/javascript" src="/libs/vue.js"></script>
    <script type="text/javascript" src="popup.js"></script>
  </body>
</html>
